@model NationalParks.Models.Parks

<h1>FCC</h1>
<hr />

@foreach (var item in Model.data)
{
<div>
    <h3>
        Official Title:
        @Html.DisplayFor(modelItem => item.official_title)
    </h3>
    <div>
    </div>
    </a>
    <div>
        <h5>
            Page Count:
        @Html.DisplayFor(modelItem => item.page_count)
     </h5>
     </div>
</div>
<br/>
}

<script>
    alertDbSave(@ViewBag.dbSuccessComp);
</script>
